.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
#loginerror {
	display: inline-block;
}
.invalideidboard {
	display: flex;
	visibility: hidden;
	color: red;
}
#flexboard {
	display: flex;
}